* {
    font-family: 'Trebuchet MS', Tahoma, sans-serif;
}

.heading {
    background-color: #CD5C5C;
    text-align: center;
    padding: 8px;
}

.text-content {
    background-color: #5CCDCD;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.centered-image {
    display: block;
    margin: auto;
}

.tagline {
    font-style: italic;
    padding: 8px;
}

.recipe-image {
    height: 500px;
    width: auto;
}

.homepage-title {
    width: 500px;
    margin: auto;
}