* {
    font-family: 'Trebuchet MS', Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.heading {
    background-color: #CD5C5C;
    text-align: center;
    padding: 8px;
}

.text-content {
    background-color: #5CCDCD;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.centered-image {
    display: block;
    margin: auto;
}

.tagline {
    font-style: italic;
    padding: 8px;
}

.recipe-image {
    height: 500px;
    width: auto;
}

.recipe-card-box {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 128px;
}

.recipe-card-box h1 {
    margin-left: 8%;
}

.recipe-card {
    display: inline-block;
    border: 2px outset gray;
    margin-left: 3%;
    font-size: 20px;
    height: 320px;
    width: 220px;
}

.preview-image {
    display: block;
    height: 256px;
    width: auto;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.homepage-title {
    width: 500px;
    margin: auto;
}