* {
    font-family: 'Trebuchet MS', Tahoma, sans-serif;
    background-color: #D09343;
}

a {
    text-decoration: none;
}

img {
    border: 2px ridge #D04C43;
}

.heading {
    background-color: #C6D043;
    border: 2px ridge #D04C43;
    text-align: center;
    padding: 8px;
}

.text-content {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.centered-image {
    display: block;
    margin: auto;
}

.tagline {
    font-style: italic;
    margin-top: 8px;
    padding: 8px;
}

.recipe-image {
    height: 500px;
    width: auto;
}

.recipe-card-box {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 128px;
}

.recipe-card {
    display: inline-block;
    border: 3px outset #D04C43;
    background-color: #C6D043;
    margin-left: 3%;
    font-weight: bold;
    font-size: 22px;
    height: 320px;
    width: 250px;
}

.recipe-card:active,
.recipe-card:focus {
    border: 3px inset #D04C43;
}

.preview-image {
    display: block;
    height: 256px;
    width: auto;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.homepage-title {
    width: 500px;
    margin: auto;
    margin-bottom: 64px;
}